{% if total_quantity == 0 %}                    
    <h6>{{ food_name|upper }} | ₦{{ food_price }} <span style="color: red; font-size: 12px"><a  class="button" hx-target="closest #id_item_and_quantity_manager" hx-post="{% url 'app:add-to-cart-plugin' plugin_food_pk good_pk %}"> ADD TO CART </a></span></h6>
{% else %}
    <h6>{{ food_name|upper }} ₦{{ food_price }} </h6>
    <div class="quantity1 buttons_added">
        <a hx-target="closest #id_item_and_quantity_manager" class="button"  hx-delete="{% url 'customer:minus-to-cart-plugin' plugin_food_pk good_pk %}"><input type="button" value="-" class="minus" style="color: #fff"></a>
        <input type="number" class="input-text qty text"  name="quantity" value="{{ total_quantity }}" style="color: #fff">
        <a hx-target="closest #id_item_and_quantity_manager" class="button"  hx-post="{% url 'customer:add-to-cart-plugin' plugin_food_pk good_pk %}"><input type="button" value="+" class="plus" style="color: #fff"></a>
        <a hx-target="closest #id_item_and_quantity_manager" class="button"  hx-delete="{% url 'customer:plugin-delete-item' plugin_food_pk good_pk %}"><input type="button" value="X" class="delete" style="color: #fff"></a>
    </div>
{% endif %}
