{% extends 'bike/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
{% load mathfilters %}
{% load cart_template_tags %}
      


      <div id="layoutSidenav">
         <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
               <div class="sb-sidenav-menu">
                  <div class="nav">
                     <div class="sb-sidenav-menu-heading">Core</div>
                     <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="feather-home"></i></div>
                        Dashboard
                     </a>
                     <a class="nav-link" href="messages.html">
                        <div class="sb-nav-link-icon"><i class="feather-message-square"></i></div>
                        Messages
                     </a>
                     <a class="nav-link" href="bookings.html">
                        <div class="sb-nav-link-icon"><i class="feather-calendar"></i></div>
                        Bookings <span class="badge badge-pill ml-2 badge-primary">6 New</span>
                     </a>
                     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayoutss">
                        <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                        My listings
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                     </a>
                     <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                           <a class="nav-link" href="listings.html">Pending <span class="badge badge-pill ml-2 badge-primary">6</span></a>
                           <a class="nav-link" href="listings.html">Active <span class="badge badge-pill ml-2 badge-success">5</span></a>
                           <a class="nav-link" href="listings.html">Expired <span class="badge badge-pill ml-2 badge-danger">4</span></a>                                
                        </nav>
                     </div>
                     <a class="nav-link" href="reviews.html">
                        <div class="sb-nav-link-icon"><i class="feather-star"></i></div>
                        Reviews
                     </a>
                     <a class="nav-link" href="bookmarks.html">
                        <div class="sb-nav-link-icon"><i class="feather-heart"></i></div>
                        Bookmarks
                     </a>
                     <a class="nav-link" href="add-listing.html">
                        <div class="sb-nav-link-icon"><i class="feather-plus-circle"></i></div>
                        Add listing
                     </a>
                     <a class="nav-link" href="add-listing-with-menu-list.html">
                        <div class="sb-nav-link-icon"><i class="feather-book-open"></i></div>
                        Menu List
                     </a>
                     <a class="nav-link" href="orders.html">
                        <div class="sb-nav-link-icon"><i class="feather-shopping-cart"></i></div>
                        Orders Page
                     </a>
                     <a class="nav-link" href="edit-order.html">
                        <div class="sb-nav-link-icon"><i class="feather-settings"></i></div>
                        Edit Order
                     </a>
                     <a class="nav-link" href="my-profile.html">
                        <div class="sb-nav-link-icon"><i class="feather-user"></i></div>
                        My Profile
                     </a>
                     <div class="sb-sidenav-menu-heading">Interface</div>
                     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="feather-layout"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                     </a>
                     <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                           <a class="nav-link" href="layout-static.html">Static Navigation</a>
                           <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                     </div>
                     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="feather-book"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                     </a>
                     <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                           <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                              Authentication
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                           </a>
                           <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                              <nav class="sb-sidenav-menu-nested nav">
                                 <a class="nav-link" href="login.html">Login</a>
                                 <a class="nav-link" href="register.html">Register</a>
                                 <a class="nav-link" href="password.html">Forgot Password</a>
                              </nav>
                           </div>
                           <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                              Error
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                           </a>
                           <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                              <nav class="sb-sidenav-menu-nested nav">
                                 <a class="nav-link" href="401.html">401 Page</a>
                                 <a class="nav-link" href="404.html">404 Page</a>
                                 <a class="nav-link" href="500.html">500 Page</a>
                              </nav>
                           </div>
                        </nav>
                     </div>
                     <div class="sb-sidenav-menu-heading">Addons</div>
                     <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="feather-pie-chart"></i></div>
                        Charts
                     </a>
                     <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="feather-grid"></i></div>
                        Tables
                     </a>
                  </div>
               </div>
               <div class="sb-sidenav-footer">
                  <div class="small">Logged in as:</div>
                  Ask Bootstrap
               </div>
            </nav>
         </div>
         <div id="layoutSidenav_content">
            <main>
               <div class="container-fluid">
                  <h1 class="mt-4">Dashboard</h1>
                  <ol class="breadcrumb mb-4">
                     <li class="breadcrumb-item active">Dashboard</li>
                    

                  </ol>

                  {% if ongoingmessage %}

                     <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">You Have Ongoing Delivery!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <hr>
                        <p class="mb-0"><a href="{% url 'bike:message-ongoing-details' ongoingmessage.pk %}">View Details</a></p>
                     </div>

                  {% endif %}

                  
                  <div class="row">
                     <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                           <div class="card-body">26 New Messages!</div>
                           <div class="card-footer d-flex align-items-center justify-content-between">
                              <a class="small text-white stretched-link" href="messages.html">View Details</a>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                           <div class="card-body">10 New Bookings!</div>
                           <div class="card-footer d-flex align-items-center justify-content-between">
                              <a class="small text-white stretched-link" href="bookings.html">View Details</a>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                           <div class="card-body">11 New Reviews!</div>
                           <div class="card-footer d-flex align-items-center justify-content-between">
                              <a class="small text-white stretched-link" href="reviews.html">View Details</a>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                           <div class="card-body">10 New Bookmarks!</div>
                           <div class="card-footer d-flex align-items-center justify-content-between">
                              <a class="small text-white stretched-link" href="bookmarks.html">View Details</a>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                           </div>
                        </div>
                     </div>
                  </div>
                
                  <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            RECENT {{ new_order|length }} ORDER
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>S/N</th>
                                        <th>FullName</th>
                                        <th>Phone Number</th>
                                        <th>Status</th>
                                        <th>Restaurant</th>
                                        <th>Delivery Address</th>
                                        
                                  
                                        <th>Total</th>
                                      
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!----><!---->

                                    {% for new in new_order %}
                                    {{ new.items }}
                                    {% for news in new.items.all %}
                                       {{news}}<hr>
                                    {% endfor %}
                                 {% endfor %}
                                 


                                    {% for order in new_order  %}


                                    {% for order_item in new_order.items.all %}

                                    
               
                                       {% endfor %}

               
                                       {% if ongoinorder %}

                                             <tr>
                                                
                                                   <td>{{ forloop.counter }}</td>
                                                   <td> {{ order.user.get_full_name }}	</td>
                                                   <td>{{ order.user.profilecustomer.phone_number }}</td>
                                                   <td><button disabled="" type="button" class="btn btn-sm btn-success btn-round">Waiting</button></td>
                                                   <td>{{  order.items.item }}</td>

                                                   <td>{{  order.shipping_address }}</td>
                                                   <td>₦{{  order.paid_amount |floatformat:2|intcomma }}</td>
                                                   
                                                   <td><a href="javascript:void(0)" class="btn btn-primary btn-sm">Pick</a></td>
                                             
                                                
                                             </tr>

                                       {% else %}

                                          <tr>
                                                   
                                             
                                             <td>{{ forloop.counter }}</td>
                                             <td> {{ order.user.get_full_name }}	</td>
                                             <td>{{ order.user.profilecustomer.phone_number }}</td>
                                             <td><button disabled="" type="button" class="btn btn-sm btn-success btn-round">Waiting</button></td>
                                             <td>{{  order.items.vendor.fulladdress }}</td>
                                             <td>{{  order.shipping_address }}</td>
                                             <td>₦{{  order.paid_amount |floatformat:2|intcomma }}</td>

                                             <td><a href="{% url 'bike:accept-order' order.pk %}" class="btn btn-primary btn-sm" disabled>Pick</a></td>
                                       
                                          
                                           </tr>

                                    {% endif %}


                                    {% endfor %}
                                  
                                   
                                </tbody>
                            </table>
                            </div>
                        </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        RECENT 10 ORDER
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>S/N</th>
                                    <th>Receiver Name</th>
                                    <th>Receiver Phone Number</th>
                                    <th>Status</th>
                                    <th>Picking Address</th>
                                    <th>Delivering Address</th>
                                    <th>Amount</th>
                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!----><!---->
                                {% for message in new_message  %}
                                    {% if ongoingmessage %}

                                          <tr>
                                             
                                                <td>{{ forloop.counter }}</td>
                                                <td> {{ message.receiver_details.fullname }}	</td>
                                                <td>{{ message.receiver_details.telephone }}</td>
                                                <td><button disabled="" type="button" class="btn btn-sm btn-success btn-round">Waiting</button></td>
                                                <td>{{  message.receiver_details.picking_address }}</td>
                                                <td>{{  message.receiver_details.deliver_address }}</td>
                                                <td>₦{{  message.paid_amount |floatformat:2|intcomma }}</td>
                                                
                                                <td><a href="javascript:void(0)" class="btn btn-primary btn-sm">Pick</a></td>
                                          
                                             
                                          </tr>

                                    {% else %}

                                          <tr>
                                                   
                                             <td>{{ forloop.counter }}</td>
                                             <td> {{ message.receiver_details.fullname }}	</td>
                                             <td>{{ message.receiver_details.telephone }}</td>
                                             <td><button disabled="" type="button" class="btn btn-sm btn-success btn-round">Waiting</button></td>
                                             <td>{{  message.receiver_details.picking_address }}</td>
                                             <td>{{  message.receiver_details.deliver_address }}</td>
                                             <td>₦{{  message.paid_amount |floatformat:2|intcomma }}</td>
                                             <td><a href="{% url 'bike:accept-message' message.pk %}" class="btn btn-primary btn-sm" disabled>Pick</a></td>
                                       
                                          
                                           </tr>

                                    {% endif %}

                                {% endfor %}
                              
                               
                            </tbody>
                        </table>
                        </div>
                    </div>
              </div>
               </div>
            </main>
           


{% endblock content %}