{% extends 'frontpage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
{% load mathfilters %}
{% load cart_template_tags %}
{% load multiplication_tag %}


   

      <section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong> {{ message }}!</strong>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                {% endfor %}
                  <div class="offer-dedicated-body-left">
                     <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel" aria-labelledby="pills-order-online-tab">
                           <div id="#menu" class="bg-white rounded shadow-sm p-4 mb-4 explore-outlets">
                              <h5 class="mb-4">Edit Receiver Information</h5>
                              <form class="explore-outlets-search mb-4" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                                    {% csrf_token %}
                                    {{ userform|crispy }}
                                    
   
                                    <div class="input-group">
                                    
                                       <div class="form-group col-md-12 mb-0">
                                          <button type="submit" class="btn btn-success btn-block btn-lg">UPDATE
                                          <i class="icofont-long-arrow-right"></i></button>       <br/><br/>
                                       </div>
                                 
                                    </div>
                              </form>
                             
                           </div>
                           
                        </div>
                        
                     </div>
                  </div>
               </div>
              
                <div class="pt-2"></div>

               
             </div>
            </div>
         </div>
      </section>
      
    


{% endblock content %}