{% extends 'frontpage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
{% load mathfilters %}
{% load cart_template_tags %}



      <section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
         <h1 class="text-white">Invoice</h1>
         <h6 class="text-white-50">Order {{ object.ref_code }}</h6>
      </section>
      <section class="section pt-5 pb-5">
         <div class="container">
            <div class="row">
               <div class="col-md-8 mx-auto">
                  <div class="p-5 osahan-invoice bg-white shadow-sm">
                     <div class="row mb-5 pb-3 ">
                        <div class="col-md-8 col-10">
                           <h3 class="mt-0">Thanks for choosing <strong class="text-secondary"><a href="/">DishAxis</a></strong>, {{ request.user.username|title }} ! Here are your order details: </h3>
                        </div>
                        <div class="col-md-4 col-2 pl-0 text-right">
                           <p class="mb-4 mt-2">
                              
                              <button class="text-primary font-weight-bold" onclick="window.print();" class="noPrint"><i class="icofont-print"></i> PRINT</button>

                           </p>
                           <img alt="DishAxis" src="{% static 'web/dishicon.png' %}" style="width: 32px;">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <p class="mb-1 text-black">Order No: <strong>{{ sub.ref_code }}</strong></p>
                           <p class="mb-1">Order placed at: <strong>{{ sub.created_at }}</strong></p>
                          
                           





                        </div>
                        <div class="col-md-6">
                         
                           <p class="mb-1 text-primary"><strong>{{ invoice.deliver_address }}</strong></p>
                           <p class="mb-1">{{  invoice.shipping_address}}
                           </p>
                        </div>
                     </div>
                     <div class="row mt-5">
                        <div class="col-md-12">
                                                
                          


                           <table class="table mt-3 mb-0">
                              <thead class="thead-light">
                                 <tr>
                                    <th class="text-black font-weight-bold" scope="col">Package(s) Name</th>
                                    <th class="text-right text-black font-weight-bold" scope="col">Distance</th>
                                    <th class="text-right text-black font-weight-bold" scope="col">Price</th>
                                 </tr>
                              </thead>
                              <tbody>
                               
                                 
                                 
                                    <tr>
                                       <td>{{  sub.package.name|upper }} </td>
                                       <td class="text-right">{{ sub.package.distance }} KM</td>
                                       <td class="text-right">₦{{ sub.package.price|intcomma }} </td>
                                    </tr>
                                
                                

                                 <tr>
                                    <td class="text-right" colspan="2">
                                       <h6 class="text-success">Grand Total For The Package:
                                         
                                       </h6>
                                    </td>
                                    <td class="text-right">
                                       <h6 class="text-success"> ₦{{ sub.package.price|floatformat:2|intcomma}} </h6> 
                                    </td>
                                 
                                 </tr>

                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>



{% endblock content %}